
*
{
    margin: 0;
    padding: 0;
}

.banner
{
    color: white;
    background-color: #EE0202;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
}

h1
{
    font-size: 45px;
}

.logo
{
    position: relative; 
    top: -115px;
}

.leftLogo
{
    float: left;
    padding-left: 25px;
}

.rightLogo
{
    float: right;
    padding-right: 25px;
}

.headerNav
{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.headerNav a:hover, a:visited
{
    color: lightblue;
}

.headerNav a, a:active
{
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}

h2
{
    text-align: center;
    font-size: 65px;
    padding-top: 50px;
}

.bigContainer
{
    clear: both;
    padding: 10px;
    margin: 10px;
}

.bigContainer img
{
    float: right;
    margin-right: 200px;
    margin-left: 50px;
    padding-bottom: 50px;
}

.bigContainer .textContainer
{
    overflow: hidden;
    margin-left: 50px;
    position: relative;
    left: 250px;
    text-align: left;
    margin-top: 50px;
    margin-right: 500px;
}

li
{
    font-size: 25px;
}

h4
{
    font-size: 25px;
}



footer
{
    margin-top: 250px;
    background-color: #A40101;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}



.footerNav a:hover, a:visited
{
    color: lightblue;
}

.footerNav a, a:active
{
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}
