
*
{
    margin: 0;
    padding: 0;
}

.banner
{
    color: white;
    background-color: #EE0202;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
}

h1
{
    font-size: 45px;
}

.logo
{
    position: relative; 
    top: -115px;
}

.leftLogo
{
    float: left;
    padding-left: 25px;
}

.rightLogo
{
    float: right;
    padding-right: 25px;
}

.headerNav
{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.headerNav a:hover, a:visited
{
    color: lightblue;
}

.headerNav a, a:active
{
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}

body
{
    background-image: url(../Images/Background_HomePage.jpg);
    background-size: 100% 110%;
    background-repeat: no-repeat;
    
}

form 
{
    padding-top: 150px;
    margin-top: 200px;
    max-width: 600px;
    margin: auto;
}

label 
{
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 6px 12px 4px black;
    margin-bottom: 16px;
}

input, textarea 
{
    width: 100%;
    padding: 8px;
    margin-bottom: 24px;
    box-sizing: border-box;
    background-color: #D9D9D9;
}

input[type="submit"] 
{
background-color: #4caf50;
color: #fff;
cursor: pointer;
}

input[type="submit"]:hover 
{
    background-color: #45a049;
}




footer
{
    margin-top: 250px;
    background-color: #A40101;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}



.footerNav a:hover, a:visited
{
    color: lightblue;
}

.footerNav a, a:active
{
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}
